/*-- scss:defaults --*/

// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600,500,400);
@import url(https://fonts.googleapis.com/css?family=Muli:400,700,400italic,700italic);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: rgb(255, 255, 230);
// $mainColor: rgb(12, 33, 49) !default;
$mainFont: 'Open Sans', sans-serif;
$mainColor: rgb(36, 36, 50);
$linkColor: rgb(38, 38, 88);
$linkColorHover: lighten( $linkColor, 20% );
$headingFont: 'Muli', sans-serif;
$headingColor: rgb(9, 37, 59);
$headingTextShadow: none;
$headingLetterSpacing: -0.0em;
$headingTextTransform: none;
$selectionBackgroundColor: #352e13;
$overflow: hidden;
.reveal.h2.author {
    font-weight: normal;
    line-height: 90px;
}

.reveal .slide aside .aside-footnotes {
    margin-bottom: 0;
    position: fixed;
    font-size: 75%;
  }
  
.reveal dd { // definition text
    margin-bottom: 0.5em;
    margin-left: 40px;
}